.alarm-settings {
  padding: 15px;

  .submit-button {
    margin-top: 20px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  text-align: center;

  height: 170px;
  width: 400px;

  margin: 0 auto;
}

b {
  width: 100%;
}

.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  border: 1px solid #ddd;

  user-select: none;
}

.rounded-rectangle {
  width: 250px;
  height: 75px;
  border-radius: 8px;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.centered-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.zvuk {
  justify-content: start;
  display: flex;
  align-items: center;
  font-size: 150%;
}

